html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        rgb(31, 31, 31) 0%,
        rgb(15, 15, 15) 15%,
        rgb(11, 11, 11) 27%,
        rgb(0, 0, 0) 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
     position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    
}
body.home-page {
    overflow-y: hidden;
}
#base-content{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

input{
    background-color:grey;
    border-radius: 4px;
}


.form-container {
    width: 350px ;
    padding:30px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(83, 83, 83);
   
    border-radius: 10px;
       background: linear-gradient(
        180deg,
        rgb(31, 31, 31,0.96) 0%,
        rgb(15, 15, 15,0.96) 15%,
        rgb(11, 11, 11,0.96) 27%,
        rgb(0, 0, 0,0.96) 100%
    );
    margin-top:50px;
    margin-bottom: 50px;
}
.form-container form {
    width: 100%!important;
}
.form-container input {
    width: 100% !important;
    box-sizing: border-box !important;
    background-color: rgb(3, 3, 3);
    border:none;
    margin:10px 0 10px;
    height:40px;
    font-size:10px;
    padding:10px;
    color:white;
}

.form-container button {
    margin:20px 0 10px;
    height:40px;
    border-radius: 4px;
    width:100%;
    border-style:solid;
    border-color:grey;
    border-width:1px;
    color:white;
    background-color: rgb(3, 3, 3);
}
.form-container button:hover{
    background-color: rgb(46, 46, 46);
}
.form-container p{
    font-size:10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #1e1e1e inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white;
    transition: background-color 5000s ease-in-out 0s;
}
.form-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.message-alert{
    width:350px;
    margin-bottom:15px;

    background:#2a2a2a;
    color:#e8e8e8;
    border:1px solid #666;
    border-radius:10px;
    padding:12px;
    text-align:center;
    font-size:10px;

    opacity: 1;
    transition: opacity 10s ease;
}

.message-alert.fade-out {
    opacity: 0;
}