html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        rgb(31, 31, 31) 0%,
        rgb(15, 15, 15) 15%,
        rgb(11, 11, 11) 27%,
        rgb(0, 0, 0) 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
     position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar {
    background-color: transparent !important;

    
}

.btn-dark {
    background-color:transparent !important;  
    border: none;
}

.nav-underline {
    position: relative;
    color: white;
    text-decoration: none;
}

.nav-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.nav-underline:hover::after {
    width: 100%;
}
.background-animation {
    position: relative;
    left: 50%;
    top: -10%;
    transform: translateX(-50%);

    width: clamp(100%, 200vh, 300%);
    
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}
#main-content
    {
        position: relative;
        top: 20%;
        transform: translateY(-50%);
        z-index: 1;
        color: white;
    }