{% extends "journal/navbar.html" %}

{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'css/base.css' %}"> 

{% endblock %}

{% block content %}


<div id="main-content">

    <div class="main-box">
        <div class="main-box-bar">
            <h4>
                Dashboard
            </h4>

        </div>
        
        
        <form method="POST" action="{% url 'logout_user' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
            </form>
    </div>

</div>


{% endblock %}

