{% extends "journal/navbar.html" %}

{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
 <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
{% endblock %}

{% block content %}


<div id="main-content">

    
    <h2>
        ThoughtOrganizer.... A home for your thoughts.
    </h2>

    <br>

    <a class="btn btn-outline-light" href="{% url 'register' %}">
        Register
    </a>





</div>


{% endblock %}

{% block animation %}
<dotlottie-wc
    class="background-animation"
    src="{% static '2ASLLPEa1O.lottie' %}"
    autoplay
    loop>
</dotlottie-wc>
{% endblock %}


{% block extra_js %}

<script type="module" 
src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.6.2/dist/dotlottie-wc.js">
</script>

{% endblock %}